<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthenticationService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.218.131:8090/Comunication"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationService"
                contract="ServiceReference.IAuthenticationService" name="NetTcpBinding_IAuthenticationService" />
            <endpoint address="net.tcp://192.168.218.131:8090/Comunication"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService"
                contract="ServiceReference.IChatService" name="NetTcpBinding_IChatService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <View.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en</value>
            </setting>
        </View.Properties.Settings>
    </userSettings>
</configuration>