<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthenticationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Comunication" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthenticationService"
                contract="ServiceReference.IAuthenticationService" name="NetTcpBinding_IAuthenticationService">
                <identity>
                    <userPrincipalName value="DESKTOP-43QTE47\michi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>