<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<userSettings>
		<Logic.Properties.Settings>
			<setting name="HASH" serializeAs="String">
				<value>414v3 rGyunpi@? h1Ham_terxd xdddd 2wxv54t78 fu2jnkmy</value>
			</setting>
		</Logic.Properties.Settings>
	</userSettings>
</configuration>